{% extends 'base.html' %}

{% load static %}

{% block head_title %}
{% endblock %}

{% block extra_head %}
  <link href="https://cdn.jsdelivr.net/npm/daisyui@4.10.2/dist/full.min.css" rel="stylesheet" type="text/css" />
{% endblock extra_head %}

{% block body %}

{% include 'navbar.html' %}

<section class="hero pt-20 min-h-screen bg-cover bg-neutral" style="background-image: url({% static 'img/background.png' %})">
    <div class="relative hero-content w-11/12 max-w-3xl p-5 md:px-20 md:py-10 card mt-10 text-dark bg-neutral shadow-xl">
        <a href="{% url 'profile_view' user_id=user.pk %}" class="absolute top-0 text-dark left-0 p-5 inline-flex items-center text-gray-500 hover:text-gray-700">
          <i class="fas fa-arrow-left text-3xl mr-2"></i>
          Volver
        </a>  
        <h1 class="text-5xl font-bold text-center">{% block title %}{% endblock %}</h1>

        {% block form %}
        {% endblock %}
    </div>
</section>
{% endblock %}
