{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="flex justify-center mt-5">
    <div class="card w-96 bg-slate-800 shadow-xl">
        <figure><img src="{% static 'logo.webp' %}" alt="logo" /></figure>
        <div class="card-body">
          <h2 class="card-title">
            Ferreplus
            <div class="badge badge-secondary">Proximamente</div>
          </h2>
          <p>Proximamente vas a poder conseguir las herramientas y artículos que necesitás, mientras que
            le das una segunda vida a los que tenés.
          </p>

        </div>
      </div>
</div>
{% endblock %}