<h1>Modificar un artículo</h1>

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{form.as_p}}
    <p>Imagen ya cargada (no es necesario poner imagen si no se va a modificar):
    </p>
    <p>
    <img src=" {{ item.image.url }} ">
    </p>

    <select class="form-control" id="make" name='selected_category'>
        {% for category in categories %}
            {% if category.id == item.category_id %}
                <option value='{{category.id}}' selected>{{ category.name }}</option>
            {% else %}
                <option value='{{category.id}}'>{{ category.name }}</option>
            {% endif %}
        {% endfor %}
    </select>

    <button>Guardar</button>
</form>
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}