{% extends 'base.html' %}

{% load static %}


{% block head_title %}
  Perfil de {{ profile.user.first_name }} {{ profile.user.last_name }}
{% endblock %}

{% block extra_head %}
  <link href="https://cdn.jsdelivr.net/npm/daisyui@4.10.2/dist/full.min.css" rel="stylesheet" type="text/css" />
{% endblock extra_head %}

{% block body %}
{% include "navbar.html" %}

<div class="flex flex-col items-center pt-20">

    <ul class="list-unstyled mt-10">
        {% for trade in trades %}
        <li id="trade-{{ trade.pk }}" class="trade-card card mb-4 text-dark">
            <div class="card-body bg-white">
                <h2 class="card-title text-center mb-4">
                    <strong>Fecha acordada:</strong> {{ trade.agreed_date }}
                </h2>
                <div class="row">
                    <div class="col-md-6">
                        <strong>Usuario implicado:</strong> {{ trade.proposal.requested_user }}<br>
                        <strong>Ítem:</strong> {{ trade.proposal.requested_item }}
                    </div>
                    <div class="col-md-6">
                        <strong>Usuario implicado:</strong> {{ trade.proposal.offering_user }}<br>
                        <strong>Ítem:</strong> {{ trade.proposal.offered_item }}
                    </div>
                </div>
            </div>
        </li>
        {% empty %}
        <p class="text-center text-white">No se encontraron resultados.</p>
        {% endfor %}
    </ul>
</div>

{% endblock %}