{% extends 'base.html' %}

{% load static %}

{% block head_title %}
    Empleados Ferreplus
{% endblock head_title %}

{% block extra_head %}
  <link href="https://cdn.jsdelivr.net/npm/daisyui@4.10.2/dist/full.min.css" rel="stylesheet" type="text/css" />
{% endblock extra_head %}

{% block body %}
   {% include 'navbar.html' %} 

    <section class="min-h-screen flex items-center justify-center bg-neutral">
        {% if messages %}
          <ul id="messages" class="messages">
            {% for message in messages %}
              <div class="toast">
                <div class="alert alert-success">
                  <span>{{ message }}</span>
                </div>
              </div>
            {% endfor %}
          </ul>
        {% endif %}

        <div class="card max-w-96 bg-base-100 shadow-xl">
            <div class="card-body bg-slate-800 text-neutral">
                 <div class="flex flex-col sm:flex-row justify-center gap-2">
                    <a href="{% url 'scheduled_trades' %}"> 
                      <button class="btn btn-lg bg-main text-neutral hover:bg-neutral hover:text-dark">Trueques programados</button>
                    </a>
                    <a href="{% url 'confirmed_trades' %}"> 
                      <button class="btn btn-lg bg-main text-neutral hover:bg-neutral hover:text-dark">Trueques confirmados</button>
                    </a>
                    <a href="{% url 'show_statistics' %}"> 
                      <button class="btn btn-lg bg-main text-neutral hover:bg-neutral hover:text-dark">Ver estadisticas</button>
                    </a>
                  </div>
                <div class="card-actions justify-end">
                <a href="{% url 'home' %}" class="btn btn-primary" >Ir al inicio</a>
                </div>
            </div>
        </div>

   </section>

{% endblock %}  