<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lista de Sucursales</title>
</head>
<body>
    <h2>Lista de Sucursales</h2>
    <ul>
        {% for branch in objetos %}
            <li>{{ branch.name }} - {{ branch.opening_hour }} - {{ branch.closing_hour }} - {{ branch.address }}
                <form id="deleteForm_{{ forloop.counter0 }}" method="post" action="{% url 'branch_delete' branch.id %}">
                    {% csrf_token %}
                    <button type="button" onclick="confirmDelete('{{ forloop.counter0 }}')">Eliminar</button>
                </form>
                <a href="{% url 'branch_update' branch.id %}">Editar</a>
            </li>
        {% endfor %}
    </ul>

    <script>
        function confirmDelete(formIndex) {
            if (confirm("¿Estás seguro de que quieres eliminar esta sucursal?")) {
                var form = document.getElementById("deleteForm_" + formIndex);
                form.submit();
            }
        }
    </script>
</body>
</html>
