{% extends "account/base_entrance.html" %}
{% load i18n %}
{% load allauth %}
{% block head_title %}
    {% trans "Change Password" %}
{% endblock head_title %}
{% block content %}
    {% element h1 %}
        {% trans "Change Password" %}
    {% endelement %}
    <p class="p-1">{% trans 'Your password is now changed.' %}</p>
    
    <p class="p-1">{% trans 'Would you like to log in?' %}</p>

    <a class="btn btn-lg bg-main text-neutral mt-4" href="{% url 'account_login' %}">Iniciar sesion</a>
{% endblock content %}
