{% extends 'base.html' %}

{% load static %}


{% block head_title %}
  Perfil de {{ profile.user.first_name }} {{ profile.user.last_name }}
{% endblock %}

{% block extra_head %}
  <link href="https://cdn.jsdelivr.net/npm/daisyui@4.10.2/dist/full.min.css" rel="stylesheet" type="text/css" />
{% endblock extra_head %}

{% block body %}

{% if messages %}
    <ul id="messages" class="messages">
      {% for message in messages %}
        <div class="toast">
          <div class="alert alert-success">
            <span>{{ message }}</span>
          </div>
        </div>
      {% endfor %}
  </ul>
{% endif %}

{% include 'navbar.html' %}

<section id="hero" class="hero min-h-screen text-dark bg-cover" style="background-image: url({% static 'img/background.png' %})">
  <div class="hero-content w-6/12 bg-neutral flex-col lg:gap-2">
    <h2 class="text-7xl text-center font-bold">{{ profile.user.first_name }} {{ profile.user.last_name }}</h1>

    {% if user.profile.avatar %}
        <img alt="Avatar de {{ profile.user.first_name }}" class="avatar max-w-72 w-h-72 rounded-lg shadow-2xl" src="{{ user.profile.avatar.url }}" />
    {% else %}
        <img alt="Default avatar" class="avatar max-w-72 w-h-72 rounded-lg shadow-2xl" src="{% static 'img/avatar-default.jpg' %}"/>
    {% endif %}
    <div class="join join-horizontal pt-2">
      <a href="#items" class="btn btn-lg bg-main join-item text-neutral">Ver articulos</a>
      {% if user.is_authenticated and user.pk == profile.user.pk %}
        <a href="{% url 'profile_edit' user_id=profile.user.pk %}" class="btn btn-lg bg-main join-item text-neutral">Modificar perfil</a>
      {% endif %}
    </div>
  </div>
</section>

<section id="items" class="hero min-h-screen bg-neutral">
  <div class="hero-content">
    <h1 class="text-3xl">Ooops. No hay nada todavía!</h1>
  </div>
</section>
{% endblock %}


{% block extra_body %}
<script>
  window.setTimeout(function() {
    document.querySelector('.alert').remove()
}, 4000);

</script>
{% endblock extra_body %}