{% extends 'trades/base.html' %}
{% load static %}
{% block content %}
  <section 
    class="flex flex-col items-center lg:place-content-center min-h-screen bg-neutral bg-cover"
    style="background-image: url({% static 'img/background.png' %})">

    <div class="hero bg-neutral max-w-screen-xl">
      
      <div class="hero-content flex flex-col-reverse w-full max-w-screen-xl gap-6 px-4 py-20">

        <div id="offer" class="card shrink-0 grow w-full shadow-2xl">
          <div class="card-body bg-[#F8F8F8] rounded-md border-2 border-dark text-dark">
            
            <div class="flex flex-col w-full lg:flex-row">
              
              <div id="offered" class="grid flex-grow card bg-neutral text-dark rounded-box place-items-center gap-2 p-4">
                <p class="text-dark opacity-80">Tu</p>
                <h3 class="text-xl font-semibold">{{proposal.requested_item.name}}</h3>
                <a href="{% url 'item_detail' item_id=proposal.requested_item.id  %}" class="w-24 mask mask-squircle object-center object-cover">
                  <img src={{proposal.requested_item.image.url}} alt="">
                </a>
              </div> 
             
              <div class="divider lg:divider-horizontal text-dark">POR</div> 
              
              <div id="desireed" class="grid flex-grow card text-dark bg-neutral rounded-box place-items-center p-4">
                <div id="desireed-item" class="flex flex-col items-center gap-2">
                  <h3 class="text-xl font-semibold">{{proposal.offered_item.name}}</h3>
                  <a href="{% url 'item_detail' item_id=proposal.offered_item.id  %}" class="w-24 mask mask-squircle object-center object-cover">
                    <img src={{proposal.offered_item.image.url}} alt="">
                  </a>
                </div>
               
                <div class="divider lg:divider-vertical divider-neutral">DE</div>
               
                <div id="desireed-item-owner" class="inline-flex items-center gap-2">
                  <p class="text-xl font-semibold">{{proposal.offering_user.first_name}} <br> {{proposal.offering_user.last_name}}</p>
                  <div class="avatar mx-auto">
                    <a href="{% url 'profile_view' proposal.offering_user.id%}" class="w-16 mt-1 mask mask-squircle object-center object-cover">
                      <img class="" src="{{proposal.offering_user.profile.avatar.url}}" alt="">                    
                    </a>
                  </div>
                </div>
              </div>
              <div class="divider divider-vertical md:divider-horizontal text-dark">EN</div> 
              <div class="grid flex-grow card bg-neutral p-4 rounded-box place-items-start items-center">
                <p class="stat-value text-center place-self-center">Sucursal {{proposal.possible_branch.name}}</p>
                <p class="stat-title text-center place-self-center">Horarios posibles</p>
                <ul class="flex flex-col mx-auto md:flex-row">
                  {% for option in proposal.possible_dates.all %}
                  <li class="">
                    <p class="text-dark opacity-80">{{ option.date|date:"l" }}</p>
                    <div>
                      <p class="text-xl font-semibold">{{ option.date|date:"j \d\e F" }}</p>
                      <p class="text-xl font-semibold">{{ option.from_time|date:"H:i" }} - {{ option.to_time|date:"H:i" }}</p>
                    </div>
                  </li>
                  {% if forloop.counter != proposal.possible_dates.all.count %}
                    <div class="divider lg:divider-horizontal divider-neutral">o</div>
                  {% endif %}
                {% endfor %}
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div id="ctas" class="text-center max-w-screen-sm lg:text-left">
          <ul class="join join-horizontal w-full md:gap-0 py-4">
            <li>
              <a href="{% url 'accept_proposal' proposal.id %}" 
                class="btn md:btn-lg px-14 join-item w-full bg-main text-neutral hover:bg-success hover:text-neutral">Aceptar</a>
            </li>
            <li>
              <a href="{% url 'decline_proposal' proposal.id %}" 
                class="btn md:btn-lg px-14 join-item w-full bg-main text-neutral hover:bg-error hover:text-neutral">Rechazar</a>
            </li>
            {% if can_counteroffer %}
            <li>
              <a href="{% url 'counteroffer_proposal' proposal.id %}" 
                class="btn md:btn-lg px-14 join-item w-full bg-main text-neutral hover:bg-warning hover:text-neutral">Contraofertar</a>
            </li>
            {% endif %}
          </ul> 
        </div>
        <h1 class="text-3xl text-center text-dark font-bold">¿Qué vas a hacer?</h1>
        
      </div>

    </div>

  </section>
{% endblock %}